*{
	box-sizing:border-box;
	font-size: 10px;
	
}
html{
	scroll-behavior: smooth;
	margin: 0px 0px;
}
body{
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: 'Roboto','Arial', sans-serif;

}
.wrapper{
	max-width: 1920px;
	justify-content: center;
	position:relative;
	margin: 0 auto;
	}


a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0px 0px;
}

p{
	font-size: 13px;
	font-style: italic;
	line-height: 150%;
	word-spacing: 4px;
	letter-spacing: 2px;
}

@media screen and (max-width: 800px){
	*{
		font-size: 9px;
	}	
	.header{
		height: 40px;
	}
}
@media screen and (max-width: 400px){
	*{
		font-size: 7px;
	}
		
}