<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/contentStud.css">
    <title>Document</title>
</head>
<body>
    
	<header>

		<nav>
			<div class="logo"></div>

			<ul class="nav-links">
				<li><a href="#">главное</a></li>
				<li><a href="#">о нас</a></li>
				<li><a href="#">статистика</a></li>
				<li><a href="#">работать с нами</a></li>
				<li><a href="#">контакты</a></li>
			</ul>

			<div class="burger-btn">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>

		</nav>

		<section class="banner">
			<div class="bg_img"></div>
			<div class="wrapperBannerSlogan">
				<h1>Alumnies</h1>
				<p>Lorem ipsum dolor sit amet, consectetur.</p>
			</div>
		</section>

    </header>

    <div class="studYear">
        <ul>
            <li><a href="#">2015-2016</a></li>
            <li><a href="#">2016-2017</a></li>
            <li><a href="#">2017-2018</a></li>
            <li><a href="#">2018-2019</a></li>
            <li><a href="#">2019-2020</a></li>
            <li><a href="#">2020-2021</a></li>
        </ul>
    </div>
    
    <div class="studContainer">

        <div class="studProfile">
            <div class="studAvatar">
                <div class="studName"></div>
            </div>
            <div class="studDiscription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores deleniti non libero maiores ipsam quae nisi reprehenderit ducimus. Impedit tempore, exercitationem corporis necessitatibus laboriosam quos sequi vitae recusandae iste!</p>
            </div>
        </div>
        <div class="studProfile">
            <div class="studAvatar">
                <div class="studName"></div>
            </div>
            <div class="studDiscription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores deleniti non libero maiores ipsam quae nisi reprehenderit ducimus. Impedit tempore, exercitationem corporis necessitatibus laboriosam quos sequi vitae recusandae iste!</p>
            </div>
        </div>
        <div class="studProfile">
            <div class="studAvatar">
                    <div class="studName"></div>
            </div>
            <div class="studDiscription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores deleniti non libero maiores ipsam quae nisi reprehenderit ducimus. Impedit tempore, exercitationem corporis necessitatibus laboriosam quos sequi vitae recusandae iste!</p>
            </div>
        </div>
        <div class="studProfile">
            <div class="studAvatar">
                    <div class="studName"></div>
            </div>
            <div class="studDiscription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores deleniti non libero maiores ipsam quae nisi reprehenderit ducimus. Impedit tempore, exercitationem corporis necessitatibus laboriosam quos sequi vitae recusandae iste!</p>
            </div>
        </div>
        <div class="studProfile">
            <div class="studAvatar">
                    <div class="studName"></div>
            </div>
            <div class="studDiscription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores deleniti non libero maiores ipsam quae nisi reprehenderit ducimus. Impedit tempore, exercitationem corporis necessitatibus laboriosam quos sequi vitae recusandae iste!</p>
            </div>
        </div>
        <div class="studProfile">
            <div class="studAvatar">
                    <div class="studName"></div>
            </div>
            <div class="studDiscription">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores deleniti non libero maiores ipsam quae nisi reprehenderit ducimus. Impedit tempore, exercitationem corporis necessitatibus laboriosam quos sequi vitae recusandae iste!</p>
            </div>
        </div>

    </div>


<!--Footer-->
    <div class="sixth-bock">
		<div class="footer">				
			<div class="footer-link f-link">
				<h3>Полезные Ссылки</h3>
				<ul>
					<li><a href=""> Статьи</a></li>
					<li><a href=""> Курсы</a></li>
					<li><a href=""> Проекты</a></li>
					<li><a href=""> Вакансии</a></li>
					<li><a href=""> Контакты</a></li>

				</ul>
				
			</div>
			<div class="footer-courses f-link">
				<h3>Курсы</h3>
				<ul>
					
					<li><a href=""> Java/Mobile App</a></li>
					<li><a href=""> Java</a></li>
					<li><a href=""> Php</a></li>
					<li><a href=""> Front-End</a></li>
					<li><a href=""> C#</a></li>
					<li><a href=""> Scratch</a></li>

				</ul>
			
			</div>
			<div class="footer-contacts f-link">
				<h3>Контакты</h3>
				<div class="text-footer-contacts bish">
					<ul>

						<li><span><i class="fas fa-map-marker-alt"></i></span></i>г. Бишкек, Жумабека 141</li>
						<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
					<li><span><i class="fas fa-mobile"></i></span><a href="tel:+996772000562">+996 (772) 000 562</a></li>

					</ul>
				</div>
				<div class="text-footer-contacts osh">
					<ul>
						
						<li><span><i class="fas fa-map-marker-alt"></i></span>г. Ош, 714003, ул.Петрова б/н</li>
						<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
						<li><span><i class="fas fa-mobile"></i></span><a href="tel:+996779609000">+996 (779) 609 000</a></li>

					</ul>
					
				</div>
				<div class="text-footer-contacts karakol">
					<ul>
						
						<li><span><i class="fas fa-map-marker-alt"></i></span>г. Каракол, Есенина-1</li>
						<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
					<li><span><i class="fas fa-mobile"></i></span><a href="tel:+996556521138">+996 (556) 521 138</a></li>

					</ul>
					
				</div>
				<div class="text-footer-contacts kara-balta">
					<ul>
						
						<li><span><i class="fas fa-map-marker-alt"></i></span>ул. Шопокова 4, г. Кара-Балта</li>
						<li><span><i class="fas fa-envelope"></i></span><a href="mailto:itacademy98@gmail.com">itacademy98@gmail.com</a></li>
						<li><span><i class="fas fa-mobile"></i></span><a href="tel:+9967074848 46">+996 707 48 48 46</a></li>

					</ul>
					
				</div>
		</div>
		<div class="conteiner-feedback f-link">
			<div class="footer-feedback">
				<form action="telegram.php" method="POST">
					<legend>Заголовок формы</legend>

					<div class="form-group">
						<label for="">Введите ваше имя</label>
						<input type="text" class="form-control" id="" name="user_name" placeholder="Например, Иван">
					</div>
				
					<div class="form-group">
						<label for="">Введите номер телефона</label>
						<input type="text" class="form-control" id="" name="user_phone" placeholder="+996 (500) 55 55 55">
					</div>
				
					<div class="form-group">
						<label for="">Введите email</label>
						<input type="text" class="form-control" id="" name="user_email" placeholder="mail@mail.ru">
					</div>
				
					<button type="submit" class="btn btn-primary">Отправить форму</button>
				</form>
			</div><!-- .col-sm-4 -->
			</div>
				
			</div>
		</div>
	</div>


</body>
<script src="js/app.js"></script>
<script src="js/parallax.js"></script>
</html>